@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
button,
input,
textarea {
  font-family: "Work Sans", sans-serif;
}

.btn__primary {
  border: 0;
  font-weight: bold;
  font-size: 18px;
  width: 160px;
  height: 48px;
  display: block;
  text-align: center;
  line-height: 48px;
  background: var(--button-blue);
  color: #fff;
  text-decoration: none;
  cursor: var(--pointer-hand), pointer;
  border-radius: 2px;
}

.btn__primary-white {
  background-color: #fff;
  color: var(--text-blue);
}

.section__title {
  font-size: 56px;
  line-height: 56px;
  color: var(--text-black);
  text-align: center;
  margin-bottom: 35px;
}

.section__text {
  font-size: 24px;
  line-height: 34px;
}

:root {
  --pointer-hand: url(../img/point.svg);
  --button-blue: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 1e-5) 100%
    ),
    #3040c4;
  --text-black: #2b292d;
  --text-black-60: #2b292d99;
  --text-black-15: #2b292e26;
  --text-blue: #3142c6;
}

.header {
  width: 100%;
  background-color: #f3c6bd;
  /* border: 1px solid transparent; */
  padding: 57px 0 38px;
}

.container {
  max-width: 1262px;
  /* width: 100%; */
  /* margin: 57px auto 40px; */
  margin: 0 auto;
  padding: 0 10px;
  border: 1px solid transparent;
}

.top {
  max-width: 1140px;
  /* width: 100%; */
  /* margin-left: 38px; */
  /* margin: 57px 0 40px 38px; */
  margin: 0 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.site__title {
  display: flex;
}

.logo {
  width: 60px;
  height: 60px;
  margin-top: 2px;
}

.logo a {
  cursor: var(--pointer-hand), pointer;
}

.site__title .title {
  margin-left: 15px;
  margin-top: 4px;
  font-size: 20px;
}

.title__text,
.title__text-bold {
  line-height: 25px;
}

.title__text {
  font-weight: 400;
  color: var(--text-black-60);
}

.title__text-bold {
  font-weight: 700;
  color: var(--text-black);
}

.top__right {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 508px;
  width: 100%;
}

.top__nav {
  max-width: 273px;
  width: 100%;
  margin-top: 6px;
}

.top__nav ul {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.top__nav ul a {
  text-decoration: none;
  cursor: var(--pointer-hand), pointer;
  color: var(--text-black);
  line-height: 25px;
  box-sizing: border-box;
}

.top__nav ul .bold {
  font-weight: 700;
}

/* .top__button {
  margin-left: 75px;
} */

.promo {
  background-color: #f3c6bd;
  padding-bottom: 100px;

  background-image: url(../img/promo.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.promo h1 {
  font-size: 80px;
  line-height: 78px;
  font-weight: 700;
  width: 60%;
  margin-bottom: 40px;
}

.promo p {
  font-size: 24px;
  line-height: 34px;
  width: 35%;
}

.promo__btns {
  margin-top: 60px;
  display: flex;
  gap: 15px;
}

.services {
  padding: 100px 0;
}

.services .section__text {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.services__list {
  margin-top: 80px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-items: left;
  /* align-items: center; */
  gap: 5%;
  margin-left: auto;
  margin-right: auto;
}

.services__list li {
  width: 28.3%;
  min-width: 300px;
  margin-bottom: 75px;
}

.services__list img {
  margin-bottom: 15px;
}

.services__list h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.services__list p {
  line-height: 26px;
  margin-bottom: 10px;
  font-size: 18px;
}

.services__list a {
  font-weight: bold;
  color: var(--text-blue);
  font-size: 18px;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f7;
}

.accordion .container {
  width: 1316px;
  width: 100%;
}

.accordion__title {
  margin-top: 82px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}

.accordion__block {
  margin-top: 24px;
  max-width: 462px;
  quotes: 100%;
  position: relative;
}

h2.accordion__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: var(--text-black);
}

.accordion__text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: var(--text-black);
}

.accordion__selector {
  margin-top: 42px;
  margin-bottom: 128px;
}

.selector__item {
  border-bottom: 1px solid var(--text-black-15);
  margin-top: 20px;
}

.selector__item:first-child {
  margin-top: 0;
}

.item__title {
  display: flex;
  margin-bottom: 22px;
  cursor: var(--pointer-hand), pointer;
  column-gap: 15px;
  align-items: center;
}

/* .item__title h2 {
  margin-left: 15px;
} */

.selector__item.active .img * {
  fill: var(--text-blue);
}

.selector__item.active h2 {
  color: var(--text-blue);
}

.selector__item.active {
  border-color: var(--text-blue);
  border-width: 3px;
}

.selector__item.active .item__title {
  margin-bottom: 8px;
}

.selector__item.active .item__text {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  columns: var(--text-black);
}

.left,
.right {
  position: absolute;
}

.left {
  top: 45px;
  right: 581px;
}

.right {
  top: -41px; /* -41px */
  left: 652px;
}

.feedback .container {
  display: flex;
  justify-content: center;
}

.feedback form {
  max-width: 554px;
  width: 100%;
  margin-top: 102px;
  margin-bottom: 97px;
}

.feedback__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.5px;
  color: var(--text-black);
  margin-bottom: 60px;
}

.feedback__item {
  width: 100%;
  margin-bottom: 32px;
}

.feedback__item label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-black);
  margin-bottom: 8px;
}

.feedback__item input,
.feedback__item textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 6px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: var(--text-black);
}

.feedback__item textarea {
  height: 168px;
}

.feedback__item button {
  display: block;
  width: 100%;
  height: 48px;
  margin-top: 30px;
  border: none;
  background: var(--button-blue);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  cursor: var(--pointer-hand), pointer;
}
